.color-picker {
    margin: 0 -4px;

    .color {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px #ddd solid;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 4px;

        &.selected {
            border: 4px #ddd solid;
        }
    }
}