div.color-picker
    div.color(
      ng-repeat='sColor in asColor',
      ng-class="{'selected':sColor === sDrawColor}",
      style='background-color: {{sColor}}',
      data-color="{{sColor}}"
    )