button(class="btn draw-history-clear", ng-click="onClear()")
  span(class="glyphicon glyphicon-remove")
button(class="btn draw-history-repeat", ng-click="onRepeat()")
  span(class="glyphicon glyphicon-repeat")
.draw-history
  draw-history-step(
    ng-repeat='oDrawStep in aoDrawStep|reverse'
    ng-click="onDrawToStep($event)"
    data-step="{{aoDrawStep.length - $index - 1}}"
  )
    .draw-history-color(
      ng-style="getPathPercent(oDrawStep)"
    ) {{oDrawStep.iStroke}}
