div(ng-include='"components/navbar/navbar.html"')

.container
  div.draw-header.clearfix
    colorpicker
    linethickness
  #canvas_wrapper(
      drawing
    )
  div.draw-footer.clearfix
    draw-history