#canvas_wrapper {
    width: 100%;
    height: 600px;
    border: 1px solid @gray-lighter;
    margin-top: @padding-base-vertical;
    position: relative;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
}

colorpicker {
    float: left;
    display: block;
}

linethickness {
    float: right;
    display: block;
}