.line-width-picker {
    margin: 0 -4px;

    .line-width {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 50%;
        border: 4px #fff solid;

        &.selected {
            border: 4px #ddd solid;
        }

        .line-width-dot {
            background-color : #000;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
}